body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 30px;
}

h1 {
  color: #c0392b;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

button {
  padding: 10px;
  width: 100%;
  background: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #219150;
}
